
    body, html{
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.8vw;
        background-image: url(/Images/bliss_winXP.jpg);
        background-size: 150% 100%;
    }

    .cont{
        padding: 1%;
        margin: auto;
        width: 40%;
        height: 1000px;
        background-color: rgba(255, 255, 255, 0.5);
        /* background-image: url('https://files.catbox.moe/3suxyf.png'); */
        border: 1px solid darkgray;
        border-radius: 15px;
        -moz-box-shadow: 0 0 25px #fff;
        -webkit-box-shadow: 0 0 25px #fff;
        box-shadow: 0px 0px 25px #fff;
    }

    .container {  display: grid;
  grid-template-columns: 0.7fr 1.6fr 0.7fr;
  grid-template-rows: 1.5fr 0.1fr 1.5fr 1.3fr 1.3fr 1.9fr 0.1fr;
  gap: 1% 1%;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "topscroll topscroll topscroll"
    "nav main button"
    "nav main todo"
    "nav updates extra"
    "extra2 extra3 extra3"
    "footer footer footer";
    border-width: 7px; 
    border-radius: 21px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4); 
    /* border-image: url("https://files.catbox.moe/fmru60.gif") 6 fill round;  */
    height: 980px;
    margin: auto;
    padding: 1%;    
}

.header { 
    grid-area: header; 
    background-color: rgba(255, 255, 255, 0.5);
    /* background-image: url('https://files.catbox.moe/sd7fyy.gif'); */
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid darkgray;
    border-radius: 15px;
}

.title{
    color: rgb(88, 201, 131);
    font-weight: bold;
    text-decoration: none;
    transition: ease-in-out 0.3s;
    font-size: 3vw;
    filter: drop-shadow(1px 1px 0 #105a37) drop-shadow(-1px 1px 0 #105a37) drop-shadow(0 -1px 0 #105a37) drop-shadow(1px 0 #105a37);
    margin-top: 14%;
    margin-left: 3%;
}

.title span{
    transition: ease-in-out 0.5s;
}

.title span:hover{
    letter-spacing: 5px;
}

.topscroll { 
    grid-area: topscroll; 
    background-color: rgba(255, 255, 255, 0.5);
    /* background-image: url('https://files.catbox.moe/mghfce.gif'); */
    border: 1px solid darkgray;
    border-radius: 15px;
}

.topscroll marquee span{
    font-style: italic;
    color: white;
    filter: drop-shadow(1px 1px 0 rgb(122, 122, 122)) drop-shadow(-1px 1px 0 rgb(122, 122, 122)) drop-shadow(0 -1px 0 rgb(122, 122, 122)) drop-shadow(1px 0 rgb(122, 122, 122));
}

.nav { 
    grid-area: nav; 
    border-width: 7px; 
    border-radius: 21px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    /* border-image: url("https://files.catbox.moe/jqcqeg.gif") 7 fill round; */
    padding: 1%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.nav h1{
    
    /* background-image: url('https://files.catbox.moe/khmhpt.gif'); */
    font-size: 1vw;
    text-align: center;
    animation: jerky 1s infinite;
    margin: 0;
    margin-top: 1%;
    filter: drop-shadow(1px 1px 0 rgb(122, 122, 122)) drop-shadow(-1px 1px 0 rgb(122, 122, 122)) drop-shadow(0 -1px 0 rgb(122, 122, 122)) drop-shadow(1px 0 rgb(122, 122, 122));
}

.nav span{
    color: white;
    filter: drop-shadow(1px 1px 0 rgb(122, 122, 122)) drop-shadow(-1px 1px 0 rgb(122, 122, 122)) drop-shadow(0 -1px 0 rgb(122, 122, 122)) drop-shadow(1px 0 rgb(122, 122, 122));
}

ul li{
    /* list-style-image: url('https://files.catbox.moe/zd5h9u.gif'); */
}

a{
    color: #90caaf;
    font-weight: bold;
    text-decoration: none;
    transition: ease-in-out 0.3s;
    font-size: 1vw;
    filter: drop-shadow(1px 1px 0 #105a37) drop-shadow(-1px 1px 0 #105a37) drop-shadow(0 -1px 0 #105a37) drop-shadow(1px 0 #105a37);
}

a:hover{
    /* padding: 5px 15px 5px 15px; */
    background-color: #0c7750;
}

    @keyframes jerky {
      0% {
        transform: rotate(2deg);
      }

      50% {
        transform: rotate(2deg);
      }

      51% {
        transform: rotate(-2deg);
      }

      100% {
        transform: rotate(-2deg);
      }
    }

h1{
    color: #90caaf;
    font-weight: bold;
    text-decoration: none;
    transition: ease-in-out 0.3s;
    font-size: 2.5vw;
    text-align: center;
    margin: 0;
    filter: drop-shadow(1px 1px 0 #105a37) drop-shadow(-1px 1px 0 #105a37) drop-shadow(0 -1px 0 #105a37) drop-shadow(1px 0 #105a37);
}
/* h1  {
    margin: 2%;
    font-family: sp;
    font-size: 4vw;
    background: linear-gradient(#256d22 50%, rgb(137, 168, 137));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bold;
    filter: drop-shadow(0px 1.5px black) drop-shadow(0 -1.5px black) drop-shadow(1.5px 0 black) drop-shadow(-1.5px 0 black);
    transition: ease-in-out 0.6s;
}
h1:hover  {
    cursor: default;
    background: linear-gradient(#3ba838 50%, rgb(104, 136, 104));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bold;
    filter: drop-shadow(0px 1.5px black) drop-shadow(0 -1.5px black) drop-shadow(1.5px 0 black) drop-shadow(-1.5px 0 black);
    -webkit-animation: pop 1s ease-in-out infinite alternate;
    animation: pop 1s ease-in-out infinite alternate;
    -moz-animation: pop 1s ease-in-out infinite alternate;
} */


.main { 
    grid-area: main; 
    background-color: rgba(255, 255, 255, 0.5);
    /* background-image: url('https://files.catbox.moe/yttuxo.gif'); */
    border: 1px solid darkgray;
    border-radius: 15px;
    padding: 1%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
}

.updates, .button, .extra, .extra2, .extra3 p{
    text-align: center;
}

.updates { 
    grid-area: updates; 
    border-width: 7px; 
    border-radius: 21px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    /* border-image: url("https://files.catbox.moe/zfk7ik.gif") 7 fill round; */
    padding: 1%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
}

.button { 
    grid-area: button; 
    border-width: 7px; 
    border-radius: 21px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4); 
    /* border-image: url("https://files.catbox.moe/kgeylk.gif") 7 fill round;  */
    overflow: auto;
    padding: 0.5%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.todo { 
    grid-area: todo; 
    padding: 1%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border: 1px solid darkgrey;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    /* background-image: url('https://files.catbox.moe/1mmmh1.gif'); */
    overflow: auto;
}

.extra { 
    grid-area: extra; 
    padding: 1%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-width: 7px; 
    border-radius: 18px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4); 
    /* border-image: url("https://files.catbox.moe/kgeylk.gif") 7 fill round;  */
    overflow: auto;
}

 .todo h1, .extra h1{
  font-size: 1vw;
}

.extra2 { 
    grid-area: extra2; 
    padding: 1%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-width: 7px; 
    border-radius: 21px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4); 
    /* border-image: url("https://files.catbox.moe/kgeylk.gif") 7 fill round; */
    overflow: auto;
}

.extra3 { 
    grid-area: extra3; 
    padding: 1%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border: 1px solid darkgrey;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    /* background-image: url('https://files.catbox.moe/z2ycv0.gif'); */
    overflow: auto;
}

.footer { 
    grid-area: footer; 
    border-width: 7px; 
    border-radius: 21px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* border-image: url("https://files.catbox.moe/zfk7ik.gif") 7 fill round; */
}

.footer marquee span{
    font-style: italic;
    color: white;
    filter: drop-shadow(1px 1px 0 rgb(122, 122, 122)) drop-shadow(-1px 1px 0 rgb(122, 122, 122)) drop-shadow(0 -1px 0 rgb(122, 122, 122)) drop-shadow(1px 0 rgb(122, 122, 122));
}

.overlay{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1%;
    border: 1px solid transparent;
    border-radius: 10px;
}

#doll{
  transition: ease-in-out 1s;
}

#doll:hover{
  transform: rotate(-5deg);
}

.todo .extra h1{
    font-size: 1vw;
}

@media only screen and (max-width: 640px) {

    #doll{
        display: none;
    }

    .cont{
        margin: auto;
        width: 95%;
        height: auto;
    }

    /* this is the fucker that breaks the dropdowns */
    .container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.1fr 1fr 0.5fr 0.5fr 1fr 0.5fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "topscroll topscroll topscroll"
    "nav main main"
    "nav main main"
    "updates updates extra"
    "extra2 extra3 extra3"
    "button todo todo";  
}

.footer{
    display: none;
}

.title{
    font-size: 10vw;
    margin-top: 24%;
}

.topscroll marquee span{
    font-size: 3.5vw;
}

.nav { 
    grid-area: nav; 
    border-width: 7px; 
    border-radius: 21px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    /* border-image: url("https://files.catbox.moe/jqcqeg.gif") 7 fill round; */
    padding: 1%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.nav span{
    font-size: 5vw;
}

ul{
    padding-left: 0;
}

a{
    font-size: 4vw;
}

h1{
    font-size: 7vw;
}

.main, .updates, .button, .extra, .extra2, .extra3, .todo { 
    font-size: 4vw;
}

.todo ul{
    padding-left: 15%;
}

 .todo h1, .extra h1{
  font-size: 4vw;
}












.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

}